.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.introModalContent {
    width: 550px;
    height: 340px;
    position: fixed;
    top: 250px;
    left: 50%;
    margin-left: -275px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    z-index: 4242;
}
#slideWrapper {
    width: 100%;
    height: 100%;
    bottom: 0;
    position: absolute;
;
}
#slideWrapper:hover #introModalSlide {
/*#introButton:hover #introModalSlide {*/
    transition: 1s;
    left: 0;
}

#introModalSlide {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    transition: 1s;
}

#introButton {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    padding: 4px;
}
.buttonSlide {
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
.avatarPhoto {
    border-radius: 37px;
    width: 73px;
    height: 73px;
    position: absolute;
}
#avatarMark {
    top: 105px;
    left: 116px;
}
#avatarVador {
    top: 105px;
    left: 239px;
}
#avatarMario {
    top: 105px;
    left: 361px;
}
#avatarElsa {
    top: 178px;
    left: 298px;
}
#avatarLisa {
    top: 178px;
    left: 179px;
}
.avatarSelection {
    width: 83px;
    height: 83px;
    margin-left: -5px;
    margin-top: -5px;
}